bcrypt==4.0.1
brainstem==2.10.0
cffi==1.15.1
coloredlogs==15.0.1
comtypes==1.2.0
cryptography==41.0.3
feather-format==0.4.1
gitdb==4.0.10
GitPython==3.1.37
greenlet==2.0.2
h5py==3.9.0
hidapi==0.14.0
humanfriendly==10.0
labbench==0.28.2
numpy==1.25.2
pandas==1.5.3
paramiko==3.3.1
psutil==5.9.5
pyarrow==13.0.0
pycparser==2.21
PyNaCl==1.5.0
pyreadline3==3.4.1
pyserial==3.5
python-dateutil==2.8.2
pytz==2023.3
PyVISA==1.13.0
PyVISA-py==0.7.0
pywifi==1.1.12
pywin32==306
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
six==1.16.0
smmap==5.0.0
SQLAlchemy==2.0.20
ssmdevices @ git+https://github.com/usnistgov/ssmdevices@bcefad6f4a50ec3de8d73bb30f1031f5f08517df
typing_extensions==4.7.1
tzdata==2023.3
validators==0.21.2
PyYAML==6.0.1
